# Importing the needed libraries

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from sqlalchemy import create_engine
import re
import pyodbc, MySQLdb
import sqlalchemy as sal
import pandas as pd
import time
import datetime
import os
import sqlite3
from selenium.webdriver.chrome.options import Options
from concurrent.futures import ThreadPoolExecutor
from  multiprocessing import Process
import matplotlib as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [2]:
# credentials
# Edit this

username = ''
password = ''
host = 'localhost'
port  = ''
database_name = 'nba'
driver_path = 'C:\drivers\chrome\chromedriver.exe'

# DATA COLLECTION

## First we need to create a *Data Lake*. For this project our data lake would be a simple directory called "Lake".

In [3]:
# create a directory

parent_dir = str(os.getcwd())
new_dir = 'Lake'

lake_path = os.path.join(parent_dir, new_dir)
try:
    os.mkdir(path=lake_path)
except:
    pass

## Get the Data Via Web Scrapping

### Create a player class to store all the information

In [4]:
# Make use of the class data structure to store the incoming data in an easily retrievable format.

class Player():
    def __init__(self):
        self.link = ''
        self.team_link = ''
        self.name = ''
        self.team = ''
        self.number = ''
        self.position = ''
        self.height = ''
        self.weight = ''
        self.last_attended = ''
        self.country = ''
        self.age = ''
        self.birth_date = ''
        self.experience = ''
        self.draft = ''
        self.ppg = ''
        self.rpg = ''
        self.apg = ''
        self.pie = ''

### Create a function that gets a list of all the players

In [5]:
site = 'https://www.nba.com/players'
web = 'https://www.nba.com'

position_dict = {'F': 'Foward', 'G': 'Guard', 'C': 'Center', 'C-F': 'Center-Forward', 'G-F': 'Guard-Forward', 'F-G': 'Foward-Guard', 'F-C': 'Foward-Center'}

def get_players_list():
    
    players_list = []
    
    # Download html page

    driver = webdriver.Chrome(executable_path=driver_path)
    driver.get(site)
    
    # Select all option to get access to the entire player list
    page = driver.find_element_by_xpath('//*[@id="__next"]/div[2]/div[3]/section/div/div[2]/div[1]/div[7]/div/div[3]/div/label/div/select/option[1]')
    page.click()


    # create a soup object with the downloaded html page
    soup = BeautifulSoup(driver.page_source, 'lxml')
    
    # sind the section of the html that contains a player table with "All" the players name
    
    div = soup.find('div', class_='MockStatsTable_statsTable__2edDg')

    # get the players table
    table = div.find('table', class_='players-list')
    
    body = table.find('tbody')

    # identify each player
    for row in body.find_all('tr'):
        player = Player()

        # Get player link
        p_link = row.find('td')
        a = p_link.find('a') 
        player.link = web + a['href']
        
        # Get team link
        t_link = p_link.find_next_sibling()
        b = t_link.find('a')
        
        number_link = t_link.find_next_sibling()
        position = number_link.find_next_sibling()
        position_text = position.text
        
        try:
            player.team_link = web + b['href']
        except:
            player.team_link = 'N/A'
            player.team = 'N/A'
            player.number = 'N/A'
            player.position = position_dict[position_text]
        
        # add player to players list
        players_list.append(player)
    
    driver.quit()
           
    return players_list

### Create a function that updates the properties of each player in a list of players

In [6]:
def updated_players_list(players_list):
    
    driver = webdriver.Chrome(executable_path=driver_path)
    count = 1
    
    # create a list to store the metadata for e
    metadata = []
    metalist = []
    num_players  = len(players_list)
    
    link_list = []
    
    for player in players_list:
        link_list.append(player.link)

        # identify the player link
        p_site = player.link
        print(f'{count} of {len(players_list)} players')
        
        # go the the link and download the html
        driver.get(url=p_site)
        
        # to resolve errors if the network connection is too slow
        time.sleep(2)
        
        # Create a soup object
        soup = BeautifulSoup(driver.page_source, 'lxml')
        
        # Get the section we are interested in to use as a reference
        try: #in case a player player's page is currently unavailable or being updated 
            section = soup.find('section', class_='relative overflow-hidden')
            section2 = soup.find('section', class_='relative text-white lg:px-20 PlayerSummary_statsSectionBG__G3Epx')
            # Get team name, position, player
            p_tag = section.find('p', class_='t11 md:t2')
        
        except:
            metadata.append(count)
            play = players_list.pop(count-1)
            metalist.append(play)
            count += 1
        else:
            

            if p_tag:

                text = p_tag.text.split('|')


                try:
                    player.team, player.number, player.position = text
                except:
                    player.team = text[0]
                else:
                    player.number = player.number[2:]
                    player.position = player.position[1:]

            # Get player name
            n_text = section.find('p', class_='PlayerSummary_playerNameText__K7ZXO')
            name = n_text.text

            nex = n_text.find_next_sibling()
            player.name = name + ' ' + nex.text

            # Get the other attributes
            # height

            sec = section2.find('div', class_='flex')

            part = sec.find_all('div', class_='PlayerSummary_playerInfo__1L8sx')

            at1 = part[0].find('p', 'PlayerSummary_playerInfoValue__mSfou')
            car = at1.text
            pattern = '[0-9]\.[0-9]+'
            player.height = re.findall(pattern, car)[0]

            #weight


            at2 = part[1].find('p', 'PlayerSummary_playerInfoValue__mSfou')
            car2 = at2.text
            pattern2 = '[0-9]+'
            player.weight = re.findall(pattern2, car2)[1]

            # country


            at3 = part[2].find('p', 'PlayerSummary_playerInfoValue__mSfou')
            player.country = at3.text

            # last attended

            at4 = part[3].find('p', 'PlayerSummary_playerInfoValue__mSfou')
            player.last_attended = at4.text

            # Age

            sec2 = section2.find_all('p', 'PlayerSummary_playerInfoValue__mSfou')

            car5 = sec2[4].text
            pattern5 = '[0-9]+'
            player.age = re.findall(pattern5, car5)[0]

            # birth_date

            daate = sec2[5].text
            player.birth_date = datetime.datetime.strptime(daate, '%B %d, %Y').date()

            # draft

            player.draft = sec2[6].text

            # Experience

            car8 = sec2[7].text.split(' ')
            player.experience = car8[0]

            print(f'{count} done!\n')
            count += 1
            
            # Stats
            one = soup.find_all('div', class_='PlayerSummary_playerStat__lQ86Y')
            
            stats = []

            for x in one:
                cast = x.find('p', class_= 'PlayerSummary_playerStatValue__3hvQY')
                if cast.text == '--':
                    stats.append(0.0)
                else:
                    stats.append(cast.text)
                    
            if len(stats) == 4:    
                player.ppg = float(stats[0])
                player.rpg = float(stats[1])
                player.apg = float(stats[2])
                player.pie = float(stats[3])
            else:
                player.ppg = 0.0
                player.rpg = 0.0
                player.apg = 0.0
                player.pie = 0.0
        
    print(f'There are {num_players} players on the NBA website.')
    print(f'We were unable to scrap {len(metalist)} players.')
    print(f'Players {metadata} details not scraped.')
    print(f'{len(players_list)} players details scraped.')
    driver.quit()
    
    return players_list, metalist

In [7]:
# There are currently 533 active players in the nba
# if the number gathered in the cell below is less than 533 or a player was removed or added, 
# provisions would be made to accomodate this

completed = updated_players_list(get_players_list())
players_list, metalist = completed

# try rescraping the players (2 tries) in metalist who were not scraped if exists
time.sleep(5)

if metalist:
    print('\nRetrying for players in metalist')
    retry = updated_players_list(metalist)
    remaining_players = retry[0]
    for players in remaining_players:
        players_list.append(players)
        
        
        time.sleep(5)
        
        if retry[1]:
            print('\nRetrying again for players in metalist')
            retry2 = updated_players_list(retry[1])
            remaining_players2 = retry2[0]
            for player in remaining_players2:
                players_list.append(player)

1 of 534 players
1 done!

2 of 534 players
2 done!

3 of 534 players
3 done!

4 of 534 players
4 done!

5 of 534 players
5 done!

6 of 534 players
6 done!

7 of 534 players
7 done!

8 of 534 players
8 done!

9 of 534 players
9 done!

10 of 534 players
10 done!

11 of 534 players
11 done!

12 of 534 players
12 done!

13 of 534 players
13 done!

14 of 534 players
14 done!

15 of 534 players
15 done!

16 of 534 players
16 done!

17 of 534 players
17 done!

18 of 534 players
18 done!

19 of 534 players
19 done!

20 of 534 players
20 done!

21 of 534 players
21 done!

22 of 534 players
22 done!

23 of 534 players
23 done!

24 of 534 players
24 done!

25 of 534 players
25 done!

26 of 534 players
26 done!

27 of 534 players
27 done!

28 of 534 players
28 done!

29 of 534 players
29 done!

30 of 534 players
30 done!

31 of 534 players
31 done!

32 of 534 players
32 done!

33 of 534 players
33 done!

34 of 534 players
34 done!

35 of 534 players
35 done!

36 of 534 players
36 done!

37 of 534 players
37 done!

38 of 534 players
38 done!

39 of 534 players
39 done!

40 of 534 players
40 done!

41 of 534 players
41 done!

42 of 534 players
42 done!

43 of 534 players
43 done!

44 of 534 players
44 done!

45 of 534 players
45 done!

46 of 534 players
46 done!

47 of 534 players
47 done!

48 of 534 players
48 done!

49 of 534 players
49 done!

50 of 534 players
50 done!

51 of 534 players
51 done!

52 of 534 players
52 done!

53 of 534 players
53 done!

54 of 534 players
54 done!

55 of 534 players
55 done!

56 of 534 players
56 done!

57 of 534 players
57 done!

58 of 534 players
58 done!

59 of 534 players
59 done!

60 of 534 players
60 done!

61 of 534 players
61 done!

62 of 534 players
62 done!

63 of 534 players
63 done!

64 of 534 players
64 done!

65 of 534 players
65 done!

66 of 534 players
66 done!

67 of 534 players
67 done!

68 of 534 players
68 done!

69 of 534 players
69 done!

70 of 534 players
70 done!

71 of 534 players
71 done!

72 of 534 players
72 done!

73 of 534 players
73 done!

74 of 534 players
74 done!

75 of 534 players
75 done!

76 of 534 players
76 done!

77 of 534 players
77 done!

78 of 534 players
78 done!

79 of 534 players
79 done!

80 of 534 players
80 done!

81 of 534 players
81 done!

82 of 534 players
82 done!

83 of 534 players
83 done!

84 of 534 players
84 done!

85 of 534 players
85 done!

86 of 534 players
86 done!

87 of 534 players
87 done!

88 of 534 players
88 done!

89 of 534 players
89 done!

90 of 534 players
90 done!

91 of 534 players
91 done!

92 of 534 players
92 done!

93 of 534 players
93 done!

94 of 534 players
94 done!

95 of 534 players
95 done!

96 of 534 players
96 done!

97 of 534 players
97 done!

98 of 534 players
98 done!

99 of 534 players
99 done!

100 of 534 players
100 done!

101 of 534 players
101 done!

102 of 534 players
102 done!

103 of 534 players
103 done!

104 of 534 players
104 done!

105 of 534 players
105 done!

106 of 534 players
106 done!

107 of 534 players
107 done!

108 of 534 players
108 done!

109 of 534 players
109 done!

110 of 534 players
110 done!

111 of 534 players
111 done!

112 of 534 players
112 done!

113 of 534 players
113 done!

114 of 534 players
114 done!

115 of 534 players
115 done!

116 of 534 players
116 done!

117 of 534 players
117 done!

118 of 534 players
118 done!

119 of 534 players
119 done!

120 of 534 players
120 done!

121 of 534 players
121 done!

122 of 534 players
122 done!

123 of 534 players
123 done!

124 of 534 players
124 done!

125 of 534 players
125 done!

126 of 534 players
126 done!

127 of 534 players
127 done!

128 of 534 players
128 done!

129 of 534 players
129 done!

130 of 534 players
130 done!

131 of 534 players
131 done!

132 of 534 players
132 done!

133 of 534 players
133 done!

134 of 534 players
134 done!

135 of 534 players
135 done!

136 of 534 players
136 done!

137 of 534 players
137 done!

138 of 534 players
138 done!

139 of 534 players
139 done!

140 of 534 players
140 done!

141 of 534 players
141 done!

142 of 534 players
142 done!

143 of 534 players
143 done!

144 of 534 players
144 done!

145 of 534 players
145 done!

146 of 534 players
146 done!

147 of 534 players
147 done!

148 of 534 players
148 done!

149 of 534 players
149 done!

150 of 534 players
150 done!

151 of 534 players
151 done!

152 of 534 players
152 done!

153 of 534 players
153 done!

154 of 534 players
154 done!

155 of 534 players
155 done!

156 of 534 players
156 done!

157 of 534 players
157 done!

158 of 534 players
158 done!

159 of 534 players
159 done!

160 of 534 players
160 done!

161 of 534 players
161 done!

162 of 534 players
162 done!

163 of 534 players
163 done!

164 of 534 players
164 done!

165 of 534 players
165 done!

166 of 534 players
166 done!

167 of 534 players
167 done!

168 of 534 players
168 done!

169 of 534 players
169 done!

170 of 534 players
170 done!

171 of 534 players
171 done!

172 of 534 players
172 done!

173 of 534 players
173 done!

174 of 534 players
174 done!

175 of 534 players
175 done!

176 of 534 players
176 done!

177 of 534 players
177 done!

178 of 534 players
178 done!

179 of 534 players
179 done!

180 of 534 players
180 done!

181 of 534 players
181 done!

182 of 534 players
182 done!

183 of 534 players
183 done!

184 of 534 players
184 done!

185 of 534 players
185 done!

186 of 534 players
186 done!

187 of 534 players
187 done!

188 of 534 players
188 done!

189 of 534 players
189 done!

190 of 534 players
190 done!

191 of 534 players
191 done!

192 of 534 players
192 done!

193 of 534 players
193 done!

194 of 534 players
194 done!

195 of 534 players
195 done!

196 of 534 players
196 done!

197 of 534 players
197 done!

198 of 534 players
198 done!

199 of 534 players
199 done!

200 of 534 players
200 done!

201 of 534 players
201 done!

202 of 534 players
202 done!

203 of 534 players
203 done!

204 of 534 players
204 done!

205 of 534 players
205 done!

206 of 534 players
206 done!

207 of 534 players
207 done!

208 of 534 players
208 done!

209 of 534 players
209 done!

210 of 534 players
210 done!

211 of 534 players
211 done!

212 of 534 players
212 done!

213 of 534 players
213 done!

214 of 534 players
214 done!

215 of 534 players
215 done!

216 of 534 players
216 done!

217 of 534 players
217 done!

218 of 534 players
218 done!

219 of 534 players
219 done!

220 of 534 players
220 done!

221 of 534 players
221 done!

222 of 534 players
222 done!

223 of 534 players
223 done!

224 of 534 players
224 done!

225 of 534 players
225 done!

226 of 534 players
226 done!

227 of 534 players
227 done!

228 of 534 players
228 done!

229 of 534 players
229 done!

230 of 534 players
230 done!

231 of 534 players
231 done!

232 of 534 players
232 done!

233 of 534 players
233 done!

234 of 534 players
234 done!

235 of 534 players
235 done!

236 of 534 players
236 done!

237 of 534 players
237 done!

238 of 534 players
238 done!

239 of 534 players
239 done!

240 of 534 players
240 done!

241 of 534 players
241 done!

242 of 534 players
242 done!

243 of 534 players
243 done!

244 of 534 players
244 done!

245 of 534 players
245 done!

246 of 534 players
246 done!

247 of 534 players
247 done!

248 of 534 players
248 done!

249 of 534 players
249 done!

250 of 534 players
250 done!

251 of 534 players
251 done!

252 of 534 players
252 done!

253 of 534 players
253 done!

254 of 534 players
254 done!

255 of 534 players
255 done!

256 of 534 players
256 done!

257 of 534 players
257 done!

258 of 534 players
258 done!

259 of 534 players
259 done!

260 of 534 players
260 done!

261 of 534 players
261 done!

262 of 534 players
262 done!

263 of 534 players
263 done!

264 of 534 players
264 done!

265 of 534 players
265 done!

266 of 534 players
266 done!

267 of 534 players
267 done!

268 of 534 players
268 done!

269 of 534 players
269 done!

270 of 534 players
270 done!

271 of 534 players
271 done!

272 of 534 players
272 done!

273 of 534 players
273 done!

274 of 534 players
274 done!

275 of 534 players
275 done!

276 of 534 players
276 done!

277 of 534 players
277 done!

278 of 534 players
278 done!

279 of 534 players
279 done!

280 of 534 players
280 done!

281 of 534 players

281 done!

282 of 534 players
282 done!

283 of 534 players
283 done!

284 of 534 players
284 done!

285 of 534 players
285 done!

286 of 534 players
286 done!

287 of 534 players
287 done!

288 of 534 players
288 done!

289 of 534 players
289 done!

290 of 534 players
290 done!

291 of 534 players
291 done!

292 of 534 players
292 done!

293 of 534 players
293 done!

294 of 534 players
294 done!

295 of 534 players
295 done!

296 of 534 players
296 done!

297 of 534 players
297 done!

298 of 534 players
298 done!

299 of 534 players
299 done!

300 of 534 players
300 done!

301 of 534 players
301 done!

302 of 534 players
302 done!

303 of 534 players
303 done!

304 of 534 players
304 done!

305 of 534 players
305 done!

306 of 534 players
306 done!

307 of 534 players
307 done!

308 of 534 players
308 done!

309 of 534 players
309 done!

310 of 534 players
310 done!

311 of 534 players
311 done!

312 of 534 players
312 done!

313 of 534 players
313 done!

314 of 534 players
314 done!

315 of 534 players
315 done!

316 of 534 players
316 done!

317 of 534 players
317 done!

318 of 534 players
318 done!

319 of 534 players
319 done!

320 of 534 players
320 done!

321 of 534 players
321 done!

322 of 534 players
322 done!

323 of 534 players
323 done!

324 of 534 players
324 done!

325 of 534 players
325 done!

326 of 534 players
326 done!

327 of 534 players
327 done!

328 of 534 players
328 done!

329 of 534 players
329 done!

330 of 534 players
330 done!

331 of 534 players
331 done!

332 of 534 players
332 done!

333 of 534 players
333 done!

334 of 534 players
334 done!

335 of 534 players
335 done!

336 of 534 players
336 done!

337 of 534 players
337 done!

338 of 534 players
338 done!

339 of 534 players
339 done!

340 of 534 players
340 done!

341 of 534 players
341 done!

342 of 534 players
342 done!

343 of 534 players
343 done!

344 of 534 players
344 done!

345 of 534 players
345 done!

346 of 534 players
346 done!

347 of 534 players
347 done!

348 of 534 players
348 done!

349 of 534 players
349 done!

350 of 534 players
350 done!

351 of 534 players
351 done!

352 of 534 players
352 done!

353 of 534 players
353 done!

354 of 534 players
354 done!

355 of 534 players
355 done!

356 of 534 players
356 done!

357 of 534 players
357 done!

358 of 534 players
358 done!

359 of 534 players
359 done!

360 of 534 players
360 done!

361 of 534 players
361 done!

362 of 534 players
362 done!

363 of 534 players
363 done!

364 of 534 players
364 done!

365 of 534 players
365 done!

366 of 534 players
366 done!

367 of 534 players
367 done!

368 of 534 players
368 done!

369 of 534 players
369 done!

370 of 534 players
370 done!

371 of 534 players
371 done!

372 of 534 players
372 done!

373 of 534 players
373 done!

374 of 534 players
374 done!

375 of 534 players
375 done!

376 of 534 players
376 done!

377 of 534 players
377 done!

378 of 534 players
378 done!

379 of 534 players
379 done!

380 of 534 players
380 done!

381 of 534 players
381 done!

382 of 534 players
382 done!

383 of 534 players
383 done!

384 of 534 players
384 done!

385 of 534 players
385 done!

386 of 534 players
386 done!

387 of 534 players
387 done!

388 of 534 players
388 done!

389 of 534 players
389 done!

390 of 534 players
390 done!

391 of 534 players
391 done!

392 of 534 players
392 done!

393 of 534 players
393 done!

394 of 534 players
394 done!

395 of 534 players
395 done!

396 of 534 players
396 done!

397 of 534 players
397 done!

398 of 534 players
398 done!

399 of 534 players
399 done!

400 of 534 players
400 done!

401 of 534 players
401 done!

402 of 534 players
402 done!

403 of 534 players
403 done!

404 of 534 players
404 done!

405 of 534 players
405 done!

406 of 534 players
406 done!

407 of 534 players
407 done!

408 of 534 players
408 done!

409 of 534 players
409 done!

410 of 534 players
410 done!

411 of 534 players
411 done!

412 of 534 players
412 done!

413 of 534 players
413 done!

414 of 534 players
414 done!

415 of 534 players
415 done!

416 of 534 players
416 done!

417 of 534 players
417 done!

418 of 534 players
418 done!

419 of 534 players
419 done!

420 of 534 players
420 done!

421 of 534 players
421 done!

422 of 534 players
422 done!

423 of 534 players
423 done!

424 of 534 players
424 done!

425 of 534 players
425 done!

426 of 534 players
426 done!

427 of 534 players
427 done!

428 of 534 players
428 done!

429 of 534 players
429 done!

430 of 534 players
430 done!

431 of 534 players
431 done!

432 of 534 players
432 done!

433 of 534 players
433 done!

434 of 534 players
434 done!

435 of 534 players
435 done!

436 of 534 players
436 done!

437 of 534 players
437 done!

438 of 534 players
438 done!

439 of 534 players
439 done!

440 of 534 players
440 done!

441 of 534 players
441 done!

442 of 534 players
442 done!

443 of 534 players
443 done!

444 of 534 players
444 done!

445 of 534 players
445 done!

446 of 534 players
446 done!

447 of 534 players
447 done!

448 of 534 players
448 done!

449 of 534 players
449 done!

450 of 534 players
450 done!

451 of 534 players
451 done!

452 of 534 players
452 done!

453 of 534 players
453 done!

454 of 534 players
454 done!

455 of 534 players
455 done!

456 of 534 players
456 done!

457 of 534 players
457 done!

458 of 534 players
458 done!

459 of 534 players
459 done!

460 of 534 players
460 done!

461 of 534 players
461 done!

462 of 534 players
462 done!

463 of 534 players
463 done!

464 of 534 players
464 done!

465 of 534 players
465 done!

466 of 534 players
466 done!

467 of 534 players
467 done!

468 of 534 players
468 done!

469 of 534 players
469 done!

470 of 534 players
470 done!

471 of 534 players
471 done!

472 of 534 players
472 done!

473 of 534 players
473 done!

474 of 534 players
474 done!

475 of 534 players
475 done!

476 of 534 players
476 done!

477 of 534 players
477 done!

478 of 534 players
478 done!

479 of 534 players
479 done!

480 of 534 players
480 done!

481 of 534 players
481 done!

482 of 534 players
482 done!

483 of 534 players
483 done!

484 of 534 players
484 done!

485 of 534 players
485 done!

486 of 534 players
486 done!

487 of 534 players
487 done!

488 of 534 players
488 done!

489 of 534 players
489 done!

490 of 534 players
490 done!

491 of 534 players
491 done!

492 of 534 players
492 done!

493 of 534 players
493 done!

494 of 534 players
494 done!

495 of 534 players
495 done!

496 of 534 players
496 done!

497 of 534 players
497 done!

498 of 534 players
498 done!

499 of 534 players
499 done!

500 of 534 players
500 done!

501 of 534 players
501 done!

502 of 534 players
502 done!

503 of 534 players
503 done!

504 of 534 players
504 done!

505 of 534 players
505 done!

506 of 534 players
506 done!

507 of 534 players
507 done!

508 of 534 players
508 done!

509 of 534 players
509 done!

510 of 534 players
510 done!

511 of 534 players
511 done!

512 of 534 players
512 done!

513 of 534 players
513 done!

514 of 534 players
514 done!

515 of 534 players
515 done!

516 of 534 players
516 done!

517 of 534 players
517 done!

518 of 534 players
518 done!

519 of 534 players
519 done!

520 of 534 players
520 done!

521 of 534 players
521 done!

522 of 534 players
522 done!

523 of 534 players
523 done!

524 of 534 players
524 done!

525 of 534 players
525 done!

526 of 534 players
526 done!

527 of 534 players
527 done!

528 of 534 players
528 done!

529 of 534 players
529 done!

530 of 534 players
530 done!

531 of 534 players
531 done!

532 of 534 players
532 done!

533 of 534 players
533 done!

534 of 534 players
534 done!

There are 534 players on the NBA website.
We were unable to scrap 0 players.
Players [] details not scraped.
534 players details scraped.

In [8]:
print(len(players_list))

534

### Data has been successfully scraped

## Insert data into an SQLITE3 database

In [9]:
date = str(datetime.date.today())

parent_dir = str(os.getcwd())
new_dir = 'Lake'

lake_path = os.path.join(parent_dir, new_dir)

db = f'raw_nba_data{date}.db'

database = os.path.join(lake_path, db)

# creating the database

conn = sqlite3.connect(database)

cursor = conn.cursor()

# create a table
cursor.execute(
    'CREATE TABLE IF NOT EXISTS players (id INT AUTO_INCREMENT, name VARCHAR(50) PRIMARY KEY, player_link VARCHAR(100), team VARCHAR(50), team_link VARCHAR(100), age INT, number VARCHAR(50), position VARCHAR(50), height FLOAT, weight INT, last_attended VARCHAR(50), country VARCHAR(50), birth_date DATE, experience VARCHAR(50), draft VARCHAR(50), ppg FLOAT, rpg FLOAT, apg FLOAT, pie FLOAT)'
)

# Insert Values from the completed players list into the table

for p in players_list:
    cursor.execute('INSERT INTO players(name, player_link, team, team_link, age, number, position, height, weight, last_attended, country, birth_date, experience, draft, ppg, rpg, apg, pie) VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)',(p.name, p.link, p.team, p.team_link, p.age, p.number, p.position, p.height, p.weight, p.last_attended, p.country, p.birth_date, p.experience, p.draft, p.ppg, p.rpg, p.apg, p.pie))

conn.commit()
conn.close()

# DATA EXTRACTION, TRANSFORMATION AND LOADING

In [33]:
# Extract needed data from the data lake
# find the file path of the last added file

parent_dir = str(os.getcwd())
new_dir = 'Lake'

lake_path = os.path.join(parent_dir, new_dir)


# find the last added file
file_list = []
t = 0
filename = ''

for file in os.listdir(lake_path):
    time_stored = list(os.stat(path= os.path.join(lake_path, str(file))))[-1]
    file_list.append((file, time_stored))
    
    if t < time_stored:
        t = time_stored
for f in file_list:
    if f[1] == t:
        filename = os.path.join(lake_path, f[0]) # file path

# read data into pandas dataframe
conn = sqlite3.connect(str(filename))

query = pd.read_sql_query('SELECT * FROM players', con=conn)

data = pd.DataFrame(query, columns=['name', 'player_link', 'team', 'team_link', 'age', 'number', 'position',
                                    'height', 'weight', 'last_attended', 'country', 'birth_date', 'experience', 'draft', 'ppg', 'rpg', 'apg', 'pie'])

In [34]:
print(data.head())
print('\n')

print(data.info())
print('\n')

print(data.shape)
print('\n')

# Check for duplicated values
print(data.duplicated().sum()) # if there are any, remove it
print('\n')

# check for null values
print(data.isna().sum()) # if there are any, fill it with zero

                name                                        player_link  \
0   Precious Achiuwa  https://www.nba.com/player/1630173/precious-ac...
1       Jaylen Adams   https://www.nba.com/player/1629121/jaylen-adams/
2       Steven Adams    https://www.nba.com/player/203500/steven-adams/
3        Bam Adebayo    https://www.nba.com/player/1628389/bam-adebayo/
4  LaMarcus Aldridge  https://www.nba.com/player/200746/lamarcus-ald...

                    team                                      team_link  age  \
0            Miami Heat       https://www.nba.com/team/1610612748/heat/   21
1                    N/A                                            N/A   24
2  New Orleans Pelicans   https://www.nba.com/team/1610612740/pelicans/   27
3            Miami Heat       https://www.nba.com/team/1610612748/heat/   23
4         Brooklyn Nets       https://www.nba.com/team/1610612751/nets/   35

  number        position  height  weight    last_attended      country  \
0     5          Forward    2.03     102          Memphis      Nigeria
1    N/A           Guard    1.83     102  St. Bonaventure          USA
2    12           Center    2.11     120       Pittsburgh  New Zealand
3    13   Center-Forward    2.06     116         Kentucky          USA
4    21   Center-Forward    2.11     113     Texas-Austin          USA

   birth_date experience            draft   ppg  rpg  apg   pie
0  1999-09-19     Rookie  2020 R1 Pick 20   5.0  3.6  0.5   8.5
1  1996-05-04          2        Undrafted   0.3  0.4  0.3  -1.7
2  1993-07-20          7  2013 R1 Pick 12   7.8  9.0  1.9   9.1
3  1997-07-18          3  2017 R1 Pick 14  19.1  9.3  5.2  16.8
4  1985-07-19         14   2006 R1 Pick 2  13.5  4.5  1.9   9.9


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           534 non-null    object
 1   player_link    534 non-null    object
 2   team           534 non-null    object
 3   team_link      534 non-null    object
 4   age            534 non-null    int64
 5   number         534 non-null    object
 6   position       534 non-null    object
 7   height         534 non-null    float64
 8   weight         534 non-null    int64
 9   last_attended  534 non-null    object
 10  country        534 non-null    object
 11  birth_date     534 non-null    object
 12  experience     534 non-null    object
 13  draft          534 non-null    object
 14  ppg            534 non-null    float64
 15  rpg            534 non-null    float64
 16  apg            534 non-null    float64
 17  pie            534 non-null    float64
dtypes: float64(5), int64(2), object(11)
memory usage: 75.2+ KB
None


(534, 18)


0


name             0
player_link      0
team             0
team_link        0
age              0
number           0
position         0
height           0
weight           0
last_attended    0
country          0
birth_date       0
experience       0
draft            0
ppg              0
rpg              0
apg              0
pie              0
dtype: int64

### Data Cleaning / Feature Extraction / Engineering

In [41]:
def remove_spaces(x):
    new = x.split(' ')
    new = [x for x in new if x != '']
    try:
        word = new[0] + ' ' + new[1] + ' ' + new[2]
    except:
        try:
            word = new[0] + ' ' + new[1]
        except:
            word = new[0]
    return word

# remove the excess spaces in the team names
data.team = data.team.apply(remove_spaces)

# Replace rookie with 0
data.experience = data.experience.apply(lambda x: 0 if x=='Rookie' else x) 

# Change the experience column to integer type
data.experience = data.experience.astype('int')

# first convert birth_date to a datetime object
data.birth_date = pd.to_datetime(data.birth_date)

# Extracting birth year from the birth_dtae column

data['birth_year'] = data.birth_date.dt.year

# extract draft year and draft pick from draft

data['draft_year'] = data.draft.apply(lambda x: x.split(' ')[0])
data['draft_pick'] = data.draft.apply(lambda x: x.split(' ')[-1])

# identify the age at which players began their nba career

# change experience to type int
data.experience = data.experience.astype('int')

data['age_drafted'] = data.age - data.experience

# identify the players body mass index (bmi)

data['bmi'] = data.weight / (data.height * data.height)

# drop birth_date and draft

data.drop(['birth_date', 'draft', 'player_link', 'team_link', 'number'], axis=1, inplace=True)

In [42]:
print(data.head())
print('\n')

print(data.info())
print('\n')

                name                  team  age        position  height  \
0   Precious Achiuwa            Miami Heat   21         Forward    2.03
1       Jaylen Adams                   N/A   24           Guard    1.83
2       Steven Adams  New Orleans Pelicans   27          Center    2.11
3        Bam Adebayo            Miami Heat   23  Center-Forward    2.06
4  LaMarcus Aldridge         Brooklyn Nets   35  Center-Forward    2.11

   weight    last_attended      country  experience   ppg  rpg  apg   pie  \
0     102          Memphis      Nigeria           0   5.0  3.6  0.5   8.5
1     102  St. Bonaventure          USA           2   0.3  0.4  0.3  -1.7
2     120       Pittsburgh  New Zealand           7   7.8  9.0  1.9   9.1
3     116         Kentucky          USA           3  19.1  9.3  5.2  16.8
4     113     Texas-Austin          USA          14  13.5  4.5  1.9   9.9

   birth_year draft_year draft_pick  age_drafted        bmi
0        1999       2020         20           21  24.751875
1        1996  Undrafted  Undrafted           22  30.457762
2        1993       2013         12           20  26.953572
3        1997       2017         14           20  27.335281
4        1985       2006          2           21  25.381281


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           534 non-null    object
 1   team           534 non-null    object
 2   age            534 non-null    int64
 3   position       534 non-null    object
 4   height         534 non-null    float64
 5   weight         534 non-null    int64
 6   last_attended  534 non-null    object
 7   country        534 non-null    object
 8   experience     534 non-null    int32
 9   ppg            534 non-null    float64
 10  rpg            534 non-null    float64
 11  apg            534 non-null    float64
 12  pie            534 non-null    float64
 13  birth_year     534 non-null    int64
 14  draft_year     534 non-null    object
 15  draft_pick     534 non-null    object
 16  age_drafted    534 non-null    int64
 17  bmi            534 non-null    float64
dtypes: float64(6), int32(1), int64(4), object(7)
memory usage: 73.1+ KB
None

# Moving the data to a *DATA WAREHOUSE* (MySQL Database)

In [46]:
# It is important to note which database your are making use of and make necessary adjustments to the create engine code
# In this case we are using a MySQL Database 
# Make sure your database server is running first. Restart if needed. Connect to mysql database 

#create engine
engine = sal.create_engine(f'mysql+mysqldb://{username}:{password}@{host}') # add the port if your are not connecting via localhost


# Create a new database
engine.execute('CREATE DATABASE IF NOT EXISTS nba')

# Use nba database
engine.execute('USE nba') # Auto commits

# Insert into MySQL using pandas
# If exist is set to replace so as to update the table to its current state in recent runs
engine.execute('DROP TABLE IF EXISTS players')
data.to_sql('players', con=engine, index=False)

### The data has been successfully commited to the nba database

# Getting the data from the DATA WAREHOUSE

In [47]:
# read data into pandas dataframe

# create engine
engine = sal.create_engine(f'mysql+mysqldb://{username}:{password}@{host}/{database_name}') # add the port if your are not connecting via localhost

# Use nba database
#engine.execute('USE nba') # Auto commits

df = pd.read_sql_query('SELECT * FROM players', con=engine)

# Data Exploration and Visualization

In [48]:
df.head()

,name,team,age,position,height,weight,last_attended,country,experience,ppg,rpg,apg,pie,birth_year,draft_year,draft_pick,age_drafted,bmi
0,Precious Achiuwa,Miami Heat,21,Forward,2.03,102,Memphis,Nigeria,0,5.0,3.6,0.5,8.5,1999,2020,20,21,24.751875
1,Jaylen Adams,N/A,24,Guard,1.83,102,St. Bonaventure,USA,2,0.3,0.4,0.3,-1.7,1996,Undrafted,Undrafted,22,30.457762
2,Steven Adams,New Orleans Pelicans,27,Center,2.11,120,Pittsburgh,New Zealand,7,7.8,9.0,1.9,9.1,1993,2013,12,20,26.953572
3,Bam Adebayo,Miami Heat,23,Center-Forward,2.06,116,Kentucky,USA,3,19.1,9.3,5.2,16.8,1997,2017,14,20,27.335281
4,LaMarcus Aldridge,Brooklyn Nets,35,Center-Forward,2.11,113,Texas-Austin,USA,14,13.5,4.5,1.9,9.9,1985,2006,2,21,25.381281

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           534 non-null    object
 1   team           534 non-null    object
 2   age            534 non-null    int64
 3   position       534 non-null    object
 4   height         534 non-null    float64
 5   weight         534 non-null    int64
 6   last_attended  534 non-null    object
 7   country        534 non-null    object
 8   experience     534 non-null    int64
 9   ppg            534 non-null    float64
 10  rpg            534 non-null    float64
 11  apg            534 non-null    float64
 12  pie            534 non-null    float64
 13  birth_year     534 non-null    int64
 14  draft_year     534 non-null    object
 15  draft_pick     534 non-null    object
 16  age_drafted    534 non-null    int64
 17  bmi            534 non-null    float64
dtypes: float64(6), int64(5), object(7)
memory usage: 75.2+ KB

In [50]:
# Players general stat
df.describe(include='all')

,name,team,age,position,height,weight,last_attended,country,experience,ppg,rpg,apg,pie,birth_year,draft_year,draft_pick,age_drafted,bmi
count,534,534,534.000000,534,534.000000,534.000000,534,534,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534,534,534.000000,534.000000
unique,534,31,NaN,10,NaN,NaN,189,43,NaN,NaN,NaN,NaN,NaN,NaN,19,62,NaN,NaN
top,Jaylen Nowell,N/A,NaN,Guard,NaN,NaN,Kentucky,USA,NaN,NaN,NaN,NaN,NaN,NaN,Undrafted,Undrafted,NaN,NaN
freq,1,35,NaN,194,NaN,NaN,30,412,NaN,NaN,NaN,NaN,NaN,NaN,122,122,NaN,NaN
mean,NaN,NaN,25.799625,NaN,1.990581,98.361423,NaN,NaN,4.054307,8.738764,3.591386,1.940449,8.498315,1994.522472,NaN,NaN,21.745318,24.776360
std,NaN,NaN,4.083913,NaN,0.085352,11.230758,NaN,NaN,3.890004,6.638866,2.459442,1.868454,4.664132,4.101716,NaN,NaN,1.957026,1.810312
min,NaN,NaN,19.000000,NaN,1.750000,73.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-26.000000,1980.000000,NaN,NaN,19.000000,18.955675
25%,NaN,NaN,23.000000,NaN,1.930000,91.000000,NaN,NaN,1.000000,3.800000,1.825000,0.700000,6.600000,1992.000000,NaN,NaN,20.000000,23.688047
50%,NaN,NaN,25.000000,NaN,1.980000,98.000000,NaN,NaN,3.000000,7.050000,3.200000,1.400000,8.600000,1995.000000,NaN,NaN,21.000000,24.742373
75%,NaN,NaN,28.000000,NaN,2.060000,106.000000,NaN,NaN,6.000000,12.200000,4.800000,2.500000,10.900000,1998.000000,NaN,NaN,23.000000,25.916338
max,NaN,NaN,40.000000,NaN,2.260000,141.000000,NaN,NaN,17.000000,31.100000,14.700000,10.900000,27.200000,2001.000000,NaN,NaN,30.000000,31.929903

# Players Stats

In [54]:
df.country.value_counts()

USA                       412
Canada                     19
France                     13
Australia                   9
Germany                     6
Serbia                      6
Spain                       4
Turkey                      4
Croatia                     4
Latvia                      4
Italy                       3
Senegal                     3
Brazil                      3
Slovenia                    3
Lithuania                   3
Nigeria                     3
Greece                      3
Bahamas                     2
South Sudan                 2
Japan                       2
Argentina                   2
Cameroon                    2
Ukraine                     2
Guinea                      1
Sudan                       1
United Kingdom              1
Egypt                       1
Saint Lucia                 1
Austria                     1
Georgia                     1
Israel                      1
Bosnia and Herzegovina      1
Jamaica                     1
Switzerland                 1
Republic of the Congo       1
Montenegro                  1
Gabon                       1
Finland                     1
DRC                         1
Angola                      1
Dominican Republic          1
New Zealand                 1
Czech Republic              1
Name: country, dtype: int64

In [53]:
df[df['country']== 'Nigeria']

,name,team,age,position,height,weight,last_attended,country,experience,ppg,rpg,apg,pie,birth_year,draft_year,draft_pick,age_drafted,bmi
0,Precious Achiuwa,Miami Heat,21,Forward,2.03,102,Memphis,Nigeria,0,5.0,3.6,0.5,8.5,1999,2020,20,21,24.751875
22,Udoka Azubuike,Utah Jazz,21,Center-Forward,2.08,127,Kansas,Nigeria,0,1.0,1.1,0.0,6.1,1999,2020,27,21,29.354660
375,Josh Okogie,Minnesota Timberwolves,22,Guard,1.93,97,Georgia Tech,Nigeria,2,5.6,2.6,1.1,4.3,1998,2018,20,20,26.040968